.trade{
    margin-top: 8px;
    border-radius: 2px;
    padding: 16px 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    box-shadow:2px 3px 3px rgba(0,0,0,.1);
}
.title{
    padding: 0 12px;
}
.title-item:first-child{
    margin-left: 0;
}
.title-item{
    display: inline-block;
    margin-left: 132px;
}
.title-item>img{
    width: 25px;
    height: 25px;
}
.title-item>span{
    vertical-align: middle;
    display: inline-block;
    color: #8590a6;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    font-size: 14px;
}
.content{
    position: relative;
    display: flex;
}
.content-item{
    /* height: 280px; */
    width: 50%;
    position: relative;
    margin: 32px 9px 0 9px;
    border: 1px solid #e8e8e8;
}
.content-item>span{
    position:absolute;
    text-align: center;
    height: 24px;
    line-height: 24px;
    width: 100px;
    background-color: #fff;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 10px;
    z-index: 1000;
}
.content-item>p{
    height: 264px;
    line-height: 264px;
    font-size: 14px;
    text-align: center;
    color: #8590a6;
}
.content-price{
    margin: 0 10px;
    border-top: 1px dashed #e8e8e8;
}
.content-price>p{
    line-height: 30px;
    width: 50%;
    text-align: left;
    font-size: 14px;
    padding: 8px 0;   
}
.content-price>p:last-child{
    text-align: right;   
}
.transaction{
    text-align: right;
    margin-top: 16px;
}
.discounts{
    margin-bottom: 6px;
}
.discounts>span{
    color: #606266;
    font-size: 14px;
    margin-right: 8px;
}
.discounts>span:hover{
    color: #faad14;
}
.discounts>div{
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #B8B8B8;
    cursor: pointer;
}
.discounts>div:hover{
    border: 1px solid #faad14;
}
.balance{
    font-size: 15px;
    margin-right: 8px;
}
.balance>img{
    width: 25px;
    height: 25px;
    vertical-align: 0;
}
.transactionBtn{
    color: #fff;
    background: #faad14;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
}